
@{
    ViewBag.Title = "Lê Xuân Toàn - Index";
}

<h2>Index</h2>
<hr />
<h3>hiện thị dữ kiệu lấy từ Action trong Controllers </h3>
<h4>Fullname:@ViewBag.fullname</h4>
<h4>Ngày sinh:@ViewData["Birthday"]</h4>
<h4>Số điện thoại:@TempData["Phone"] </h4>
